@import '../../scss/variables.scss';

.article-card {
  width: 938px;
  justify-self: center;
  box-sizing: border-box;
  padding: 15px 14px 16px 16px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
  background-color: $color-base;
  margin-top: 26px;
  margin-bottom: 26px;

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    .wrapper {
      display: flex;
      flex-direction: column;

      .title-line {
        display: flex;
        gap: 13px;
        margin-bottom: 4px;

        &__title {
          color: $color-primary;
          font-size: $font-size-xlg;
          max-width: 620px;
          overflow: hidden;
        }

        &__rating {
          display: flex;
          align-items: center;
          color: $color-text;
          font-size: $font-size-xs;
          gap: 5px;
        }

        &__button {
          background: none;
          border: none;
          padding: 0;

          // &:hover {
          //   cursor: pointer;
          // }
        }

        &__heart {
          display: flex;
          align-self: center;
        }
      }

      .tags-wrapper {
        display: flex;
        gap: 8px;
        max-width: 600px;
        margin-bottom: 16px;

        &__tag {
          width: fit-content;
          height: 20px;
          overflow: hidden;
          color: $color-text-secondary;
          border: 1px solid $color-text-secondary;
          border-radius: 2px;
          font-size: $font-size-xs;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 2px 5px 3px 5px;
          box-sizing: border-box;
        }
      }

      .preview-paragraph {
        width: 682px;
        color: $color-text-secondary;
        font-size: $font-size-xs;
        line-height: 22px;
        margin: 0;
        overflow: hidden;
      }
    }

    .user-wrapper {
      display: flex;
      gap: 30px;
      flex-direction: column;

      &__wrapper {
        display: flex;
        gap: 12px;
        align-items: center;
        justify-content: end;
      }

      .info {
        display: flex;
        flex-direction: column;

        &__user-name {
          font-size: $font-size-lg;
          color: $color-text-heading;
        }

        &__publication-date {
          font-size: $font-size-xs;
          color: $color-text-secondary;
        }
      }

      .user-avatar {
        border-radius: 50%;
      }

      .buttons-group {
        display: flex;
        gap: 12px;

        &__button {
          border: none;
          background: none;
          font-size: $font-size-sm;
          font-family: $font-primary;
          border-radius: 5px;
        }

        &__button-delete {
          border: 1px solid $color-error;
          color: $color-error;
          width: 78px;
          height: 31px;

          &:hover {
            cursor: pointer;
          }
        }

        &__button-edit {
          border: 1px solid $color-success;
          color: $color-success;
          width: 65px;
          height: 31px;
          text-decoration: none;
          align-items: center;
          justify-content: center;
          display: flex;
        }
      }
    }
  }

  .main {
    color: $color-text;
    overflow: hidden;

    img {
      max-width: 100%;
    }
  }
}
