@import '../../scss/variables';

.article-preview {
  width: 938px;
  height: 140px;
  display: flex;
  justify-content: space-between;
  background-color: $color-base;
  padding: 15px 14px 24px 16px;
  box-sizing: border-box;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);

  .article-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .header {
      display: flex;
      gap: 13px;

      &__title {
        color: $color-primary;
        font-size: $font-size-xlg;
        line-height: 28px;
        max-height: 28px;
        max-width: 620px;
        overflow: hidden;
      }

      &__rating {
        display: flex;
        align-items: center;
        color: $color-text;
        font-size: $font-size-xs;
        gap: 5px;
        line-height: 22px;
      }

      &__button {
        background: none;
        border: none;
        padding: 0;

        &:hover {
          cursor: pointer;
        }
      }

      &__heart {
        display: flex;
        align-self: center;
      }
    }
    .tags-wrapper {
      display: flex;
      gap: 8px;
      max-width: 600px;

      &__tag {
        min-width: 38px;
        height: 20px;
        overflow: hidden;
        color: $color-text-secondary;
        border: 1px solid $color-text-secondary;
        border-radius: 2px;
        font-size: $font-size-xs;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px 5px 3px 5px;
      }
    }

    .paragraph {
      width: 682px;
      color: $color-text;
      font-size: $font-size-xs;
      line-height: 22px;
      margin: 0;
      max-height: 45px;
      overflow: hidden;
    }
  }

  .user-wrapper {
    display: flex;
    gap: 12px;

    .info {
      display: flex;
      flex-direction: column;

      &__user-name {
        font-size: $font-size-lg;
        color: $color-text-heading;
        line-height: 28px;
      }

      &__publication-date {
        font-size: $font-size-xs;
        color: $color-text-secondary;
        line-height: 22px;
        align-self: end;
      }
    }

    .user-avatar {
      width: 46px;
      height: 46px;
      border-radius: 50%;
    }
  }
}
