$font-primary: "Inter", sans-serif;
$font-secondary: "Roboto", sans-serif;
//@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$color-primary: #1890FF;
$color-base: #FFFFFF;
$color-base-secondary: #EBEEF3;

$color-text: rgba(0, 0, 0, 0.75);
$color-text-secondary: rgba(0, 0, 0, 0.5);
$color-text-heading: rgba(0, 0, 0, 0.85);

$color-form-text-heading: #262626;
$color-form-text-placeholder: #BFBFBF;
$color-form-text-duhanaccount: #8C8C8C;
//$color-form-shadow:

$color-border: #D9D9D9;
$color-border-secondary: #E8E8E8;

$color-warning: #FAAD14;
$color-like: #FF0707;
$color-text-agreement: #595959;
$color-error: #F5222D;
$color-success: #52C41A;
$color-shadow: rgba(0, 0, 0, 0.15);

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xlg: 20px;

$font-weight-normal: 400;
$font-weight-semibold: 500;